<br>

<h1>WatchList</h1>
<br>
<div class="form-group">
    <label for="NewStock">Add a new Stock to your watchlist!</label>
    <input type="text" class="form-control" name="newStock" [(ngModel)] = "newStock" (keyup.enter)="addStock(newStock)">
</div>
<body>
    <!-- Sidebar -->
    
    <div id="list-container">
        <div class="alert alert-success" *ngIf='delete_success_message'>{{ delete_success_message }}</div>
        <div class="alert alert-success" *ngIf='add_success_message'>{{ add_success_message }}</div>
        <ul id="item-list">
            <li *ngFor="let stock of watchListStocks">
                <a (click)="displayStock(stock)" class="btn">{{stock}} </a>
                
                <a (click)="deleteStock(stock)" class="btn btn-warning btn-outline-primary btn-block col-xs-3 mr-1 btn-space">Delete </a><br>
            </li>
        </ul>
    </div>
    <div id="content-container" *ngIf="displayData">

        <div>
            <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [type]="lineChartType">
            </canvas>
        </div>
    </div>
</body >
